.row {
    background-color: lavender;
}

.col1{
    margin: 3px;
    min-height: 300px;
    text-align: center;
    background-color: silver;
}
.col2{
    margin: 3px;
    min-height: 300px;
    text-align: center;
    background-color: rgb(243, 123, 123);
}
.col3{
    margin: 3px;
    min-height: 300px;
    text-align: center;
    background-color: rgb(79, 239, 201);
}
.col4{
    margin: 3px;
    min-height: 300px;
    text-align: center;
    background-color: rgb(245, 223, 109);
}
.col5{
    margin: 3px;
    min-height: 300px;
    text-align: center;
    background-color: rgb(248, 112, 185);
}
.col6{
    margin: 3px;
    min-height: 300px;
    text-align: center;
    background-color: rgb(6, 77, 140);
}
.col7{
    margin: 3px;
    min-height: 300px;
    text-align: center;
    background-color: rgb(133, 192, 243);
}

.insidecol{
    min-height: 100px;
    text-align: center;
    background-color: rgb(249, 134, 34);
}

/* h1 {
    background-color: aqua;
}

p {
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
}

.para {
    color: aqua;
    background-color: blanchedalmond;
    border: 3px solid black;
    border-top-color: blue;
    border-bottom-style: dotted;

}

#para4ok {
    color: brown;
}

/* Relative styles */
/* body {
    background-color: #f4ebbc;
}

#main1 {
    background-color: #9edf76;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    }

#main2 {
    background-color: #9edf76;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    }

#par {
    color: red;
}


#square {
    height: 25px;
    width: 25px;
    background: red;
} */