h1 {
    background-color: aqua;
}

p {
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
}

.para {
    color: aqua;
    background-color: blanchedalmond;
    border: 3px solid black;
    border-top-color: blue;
    border-bottom-style: dotted;

}

#para4ok {
    color: brown;
}

/* Relative styles */
body {
    background-color: #f4ebbc;
}

#main1 {
    background-color: #9edf76;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    }

#main2 {
    background-color: #9edf76;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    }

#par {
    color: red;
}


#square {
    height: 25px;
    width: 25px;
    background: red;
}